---
# Ansible Variables

# System / SSH
ssh_user: "scott" # Your ssh admin user into the guest machine
ssh_user_group: "admin" # Your ssh user's group with password-less sudo privileges
ssh_user_reset: false # true to re-provision all user settings (bash, vim, git, etc.)

ssh_user_sshkey: "files/pubkey" # Path to your OpenSSH public key that you would like to add into ~/authorized_keys
#ssh_user_password: "dontneedone"
ssh_user_sshconfig: "files/sshconfig"

# System / Web
web_user: "www" # If developing from remote machine, you will be using this user to do sftp
web_user_group: "www"
#web_user_password: "dontneedone"
web_user_sshkey: "{{ ssh_user_sshkey }}"

# System / Git
ssh_user_git_name: "Scott Yang"
ssh_user_git_email: "yisyang@gmail.com"
ssh_user_gitconfig: "files/.gitconfig"
ssh_user_gitkey: "files/gitkey" # Private key used to connect to github, assuming not password protected
#ssh_user_gitkey_dest: "/home/{{ ssh_user }}/.ssh/gitkey" # If defined, the git key will be copied into this destination on the provisioned machines

# App / Git
git_app_repos:
  - repo: "git@github.com:yisyang/win_vagrant_ansible_docker_experiment.git"
    version: "master"
    dest: "/home/{{ ssh_user }}/win_vagrant_ansible_docker_experiment"
    owner: "{{ ssh_user }}"
    group: "{{ ssh_user }}"
    update_to_latest: true # Avoiding the key "update" as it causes a conflict with using with_items
    force: true
    link: "/home/{{ ssh_user }}/link_to_win_vagrant_ansible_docker_experiment"
#  - repo: "git@github.com:yourusername/yourapp.git"
#    key_file: "{{ ssh_user_gitkey }}"
#    version: "master"
#    dest: "/home/www/inifiles"
#    owner: "{{ ssh_user }}"
#    group: "{{ ssh_user_group }}"
#    update_to_latest: yes
#    force: true
